* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headr-background-color: rgba(128, 128, 128, 0.43);
  --headr-Mobile-background-color: rgba(128, 128, 128, 0);
  --span-blue-text: rgb(57, 64, 119);
  --h3-color: red;
  --text-color: rgb(92, 92, 137);
  --text-color-off-white: rgb(224, 216, 216);
}
#desti-containter {
  background: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
}
/* ========= Header S ========= */
.header {
  background-image: linear-gradient(
    to right,
    rgba(250, 244, 244, 0),
    rgba(0, 0, 0, 0.329)
  );
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 20px 0px;
  padding: 0px 20px;
  color: white;
  z-index: 4;
}
.logo img {
  width: 40px;
}
.burgerIcon {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}
.header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 30px;
  margin: 0px;
  list-style-type: none;
  width: 110px;
  display: none;
  z-index: 1000;
  background-color: rgba(176, 124, 124, 0.466);
  border-radius: 5px;
}
.header ul li {
  margin: 0px 0px 0px;
  padding: 4px 5px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.header ul li span {
  display: none;
}
.iconUl {
  position: relative;
}
@media screen and (max-width: 1023px) {
  .header .iconUl:hover ul {
    display: flex;
    flex-direction: column;
  }
  .header ul li:hover {
    color: rgb(53, 239, 53);
    background-color: rgba(255, 0, 0, 0.472);
    cursor: pointer;
  }
}
.header #ol a {
  text-decoration: none;
}
.header #ol a span {
  color: rgb(108, 108, 235);
}
.header a {
  color: white;
}
/* ========= Header E ========= */
#main-dest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;
}
#destMainText {
  color: var(--h3-color);
  text-transform: uppercase;
  margin: 20px auto;
}
.select {
  display: flex;
  flex-direction: column;
}
.img {
  width: 100%;
}
.img img {
  width: 200px;
  margin: 0px auto 20px;
}
#select-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#select-cont #ul-dest {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto 20px;
  padding: 0px 5px;
}
#select-cont #ul-dest li a {
  text-decoration: none;
  color: var(--span-blue-text);
  font-weight: bold;
}
#select-cont #ul-dest li:hover{
  cursor: pointer;
}
.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0px 20px;
  display: none;
}
.planet h2 {
  font-weight: normal;
  margin: 20px 0px 30px;
  text-transform: uppercase;
}
.planet .planetP {
  text-align: justify;
  margin: 0px 0px 50px;
  color: var(--text-color);
}
#downText {
  margin: 0px 0px 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
#downText .ave,
#downText .est {
  margin: 0px 0px 20px;
  width: 100%;
}
#downText .ave #ave-title,
#downText .est #est-title {
  font-size: 0.9rem;
  margin: 0px auto 5px;
  width: fit-content;
  color: var(--text-color);
}
#downText .ave #ave-text,
#downText .est #est-text {
  margin: 0px auto 5px;
  width: fit-content;
  font-size: 2rem;
  color: var(--text-color-off-white);
  font-weight: 100;
}
.active {
  display: flex;
}
@media screen and (min-width: 768px) {
  #desti-containter {
    background: url(../assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    overflow: auto;
  }
  .header {
    padding: 0px 40px;
  }
  #main-dest {
    position: relative;
    height: 100vh;
    top: 60px;
  }
  #destMainText {
    margin: 26px 0px;
  }
  .select #select-cont #ul-dest {
    width: 50%;
  }
  .planet .planetP {
    width: 70%;
  }
  .img img {
    width: 300px;
    margin: 0px auto 20px;
  }
}
@media screen and (min-width: 1024px) {
  #desti-containter {
    background: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
  }
  .header .burgerIcon {
    display: none;
  }
  .container{
    margin-left: 60px;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
  }
  .header ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(176, 124, 124, 0);
  }
  .header ul li {
    width: fit-content;
  }
  .header ul li a {
    font-size: 1.4rem;
    font-weight: 100;
    padding: 10px;
  }
  .header ul li span {
    display: inline;
  }
  .header ul li a:hover {
    border-bottom: 1px solid white;
  }
  .select #select-cont #ul-dest {
    width: 30%;
  }
  .planet .planetP {
    width: 80%;
  }
  .img img {
    width: 500px;
    margin: 0px auto 20px;
  }
}
