* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --text-color-light-blue: #9697ad;
}
.main-container {
  background: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  height: 100vh;
}
.container {
}
/* ========= Header S ========= */
.header {
  background-image: linear-gradient(
    to right,
    rgba(250, 244, 244, 0),
    rgba(0, 0, 0, 0.329)
  );
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 20px 0px;
  padding: 0px 20px;
  color: white;
  z-index: 4;
}
.logo img {
  width: 40px;
}
.burgerIcon {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}
.header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 30px;
  margin: 0px;
  list-style-type: none;
  width: 110px;
  display: none;
  z-index: 1000;
  background-color: rgba(176, 124, 124, 0.466);
  border-radius: 5px;
}
.header ul li {
  margin: 0px 0px 0px;
  padding: 4px 5px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.header ul li span {
  display: none;
}
.iconUl {
  position: relative;
}
@media screen and (max-width: 1023px) {
  .header .iconUl:hover ul {
    display: flex;
    flex-direction: column;
  }
  .header ul li:hover {
    color: rgb(53, 239, 53);
    background-color: rgba(255, 0, 0, 0.472);
    cursor: pointer;
  }
}
.header #ol a {
  text-decoration: none;
}
.header #ol a span {
  color: rgb(108, 108, 235);
}
.header a {
  color: white;
}
/* ========= Header E ========= */
/* ========= Landing S ========= */
.container #landing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.text {
  width: 100%;
}
.text #text-first {
  width: fit-content;
  margin: 30px auto;
  color: var(--text-color-light-blue);
  text-transform: uppercase;
}
.text h1 {
  width: fit-content;
  margin: 30px auto;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
}
.text #text-second {
  width: fit-content;
  margin: 30px auto;
  padding: 0px 20px;
  color: var(--text-color-light-blue);
  text-align: center;
}
#explore {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#explore p {
  color: black;
  font-size: 1.5rem;
}

/* ========= Landing S ========= */
/* ========= Media Query S ========= */
@media screen and (min-width: 768px) {
  .main-container {
    background: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
  }
  .header {
    padding: 0px 40px;
  }
 
  #landing .text {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    background: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
  }
  .header .burgerIcon {
    display: none;
  }
  .header ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(176, 124, 124, 0);
  }
  .header ul li {
    width: fit-content;
  }
  .header ul li a {
    font-size: 1.4rem;
    font-weight: 100;
    padding: 10px;
  }
  .header ul li span {
    display: inline;
  }
  .header ul li a:hover {
    border-bottom: 1px solid white;
  }
  .container #landing{
    flex-direction: row;
  }
  #landing .text h1{
    font-size: 4rem;
  }

}
/* ========= Media Query E ========= */
