* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headr-background-color: rgba(128, 128, 128, 0.43);
  --headr-Mobile-background-color: rgba(128, 128, 128, 0);
  --span-blue-text: rgb(57, 64, 119);
  --h3-color: red;
  --text-color: rgb(92, 92, 137);
  --text-color-off-white: rgb(224, 216, 216);
}
#tech-container {
  height: 100vh;
}
/* Header S */
.header {
  background-image: linear-gradient(
    to right,
    rgba(250, 244, 244, 0),
    rgba(0, 0, 0, 0.329)
  );
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 20px 0px;
  padding: 0px 20px;
  color: white;
  z-index: 4;
}
.logo img {
  width: 40px;
}
.burgerIcon {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}
.header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 30px;
  margin: 0px;
  list-style-type: none;
  width: 110px;
  display: none;
  z-index: 1000;
  background-color: rgba(176, 124, 124, 0.466);
  border-radius: 5px;
}
.header ul li {
  margin: 0px 0px 0px;
  padding: 4px 5px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.header ul li span {
  display: none;
}
.iconUl {
  position: relative;
}
@media screen and (max-width: 1023px) {
  .header .iconUl:hover ul {
    display: flex;
    flex-direction: column;
  }
  .header ul li:hover {
    color: rgb(53, 239, 53);
    background-color: rgba(255, 0, 0, 0.472);
    cursor: pointer;
  }
}
.header #ol a {
  text-decoration: none;
}
.header #ol a span {
  color: rgb(108, 108, 235);
}
.header a {
  color: white;
}
/* Header E */
/* ======= Technology ======= */
/* Technology S */
#tech-container {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  min-height: 100vh;
  position: relative;
}
#landing {
  position: relative;
  overflow: hidden;
}
.contanier {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.techTitle {
  color: white;
  text-transform: uppercase;
  font-weight: 0px;
}
.techTitle span {
  color: blue;
}
.techText {
  position: relative;
  margin: 0px auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px 0px;
}
.nums #techUl {
  display: flex;
  flex-direction: row;
  color: rgb(218, 218, 120);
  list-style-type: none;
}
.nums #techUl a {
  display: block;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  width: 30px;
  height: 30px;
  color: rgb(248, 241, 241);
  border-radius: 50%;
  text-align: center;
  justify-self: center;
  cursor: pointer;
}
.nums #techUl .active {
  background-color: white;
  color: black;
}
.text {
  position: relative;
  margin: 20px auto;
  display: none;
}
.textIn {
  width: 100%;
  padding-right: 20px;
}
.textIn p,
.textIn h2 {
  width: fit-content;
  text-transform: uppercase;
  padding: 10px 0px;
  margin: 1px auto;
}
.textIn p:last-child {
  text-transform: lowercase;
}
.img {
  width: 100%;
  margin: 1px auto;
}
.img img {
  width: 97%;
  margin: 0px auto;
  border-radius: 10px;
}
.active {
  display: block;
}

/* ======= Media Query ======= */
/* media query Tablet S */
@media screen and (min-width: 768px) {
  .header {
    padding: 0px 40px;
  }
  .contanier {
    margin-left: 20px;
  }
  #tech-container {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
    background-size: cover;
  }
  .mainText {
    height: 100%;
  }
  .techText {
    flex-direction: row;
  }
  .nums {
    margin: 0px 20px 0px 0px;
    position: relative;
  }
  .nums #techUl {
    display: flex;
    flex-direction: column;
  }
  .nums #techUl li {
    margin: 0px 0px 20px 0px;
  }
  .active {
    display: flex;
  }
.menuIcon{
  display: none;
}
  img {
    height: 100%;
  }
}
/* media query Tablet E */
/* media query Desktop S */
@media screen and (min-width: 1024px) {
  .contanier {
    margin-left: 60px;
  }
  .header .burgerIcon {
    display: none;
  }
  .header ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgba(176, 124, 124, 0);
  }
  .header ul li {
    width: fit-content;
  }
  .header ul li a {
    font-size: 1.4rem;
    font-weight: 100;
    padding: 10px;
  }
  .header ul li span {
    display: inline;
  }
  .header ul li a:hover {
    border-bottom: 1px solid white;
  }
  #tech-container {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
  }
  .menuIcon {
    display: none;
  }
}
/* media query Desktop E */
